<li id="micropost-<%= image.id %>">
    <%= link_to gravatar_for(image.user, size: 50), image.user %>
    <span class="user"><%= link_to image.user.name, image.user %></span>
    <span class="title">
    	<%= image.title %>
    	<% if image.file? %>
    	<%= link_to image_tag( image.file.url ,height: '300' , width: '400'), image%>
    	<%end%>
   	</span>
    <span class="timestamp">
    Posted <%= time_tag(image.created_at) %> ago.
    <% if current_user?(image.user) %>
		<%= link_to "edit", edit_image_path(image.id) %>
		<%= link_to "delete", image, method: :delete, data: { confirm: "You sure?" } %>
		
	<% end %>
    </span>
    
</li>