<div id="image-<%= @image.id %>">
    <% provide(:title, @image.title) %>
    <h3>Image</h3>
    <ol class="microposts">
    <%= render @image %>
    <div id="comment-form">
    	<%= render 'shared/comment_form' if logged_in?%>
    </div>
    </ol>
    <div class="col-md-8">
        <% if @image.comments.any? %>
          <h3>Comment:  (<%= @image.comments.count %>)</h3>
          <ol class="microposts">
          	<div id = 'comments'>
    	        <%= render @comments %>
    	   	</div>
           </ol>
          <%= will_paginate @comments %>
        <% end %>
    </div>
</div>
